<div class="live-stream-wrapper">
  <p class="stream-label">Weather map around the world</p>
  <iframe
    width="650"
    height="450"
    src="https://embed.windy.com/embed2.html?lat=43.847&lon=18.386&detailLat=43.847&detailLon=18.386&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
    frameborder="0"
  ></iframe>

  <p class="socials">Share on</p>
  <div class="social-media-container">
    <img
      src="../../assets/images/facebook.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/twitter.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/linkedin.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/instagram.png"
      alt=""
      style="height: 50px; width: 50px"
    />
  </div>
</div>
