<div>
  <div class="main-component">
    <img
      src="../../assets/images/logo.png"
      alt=""
      style="height: 120px; width: 150px"
    />
    <h2 class="secondary-h2">Contact us</h2>
    <p class="small-text-bolder">Our team would like to hear from you</p>
    <div class="input-fields-container">
      <div class="name-container">
        <div class="first-last">
          <p class="small-text-bolder" style="margin-bottom: 5px">First name</p>
          <input type="text" class="input" placeholder="First name" />
        </div>
        <div class="first-last">
          <p class="small-text-bolder" style="margin-bottom: 5px">Last name</p>
          <input type="text" class="input" placeholder="Last name" />
        </div>
      </div>
      <div class="email-container">
        <div class="email-message">
          <p class="small-text-bolder" style="margin-bottom: 5px">Email</p>
          <input type="text" class="input" placeholder="Email" />
        </div>
      </div>
      <div class="message-container">
        <div class="first-last">
          <p class="small-text-bolder" style="margin-bottom: 5px">Message</p>
          <textarea
            type="text"
            class="input-big"
            placeholder="We value your insight"
          ></textarea>
        </div>
      </div>
      <a href="#" class="search-button">Send message</a>
    </div>
  </div>
</div>
