<div class="live-stream-wrapper">
  <p class="stream-label">Live stream around the world</p>
  <iframe
    width="80%"
    height="50%"
    src="https://www.youtube.com/embed/b-PyEswUenE"
    frameborder="0"
    allowfullscreen
    style="border-radius: 2%"
  ></iframe>

  <p class="socials">Share on</p>
  <div class="social-media-container">
    <img
      src="../../assets/images/facebook.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/twitter.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/linkedin.png"
      alt=""
      style="height: 50px; width: 50px; margin-right: 20px"
    />
    <img
      src="../../assets/images/instagram.png"
      alt=""
      style="height: 50px; width: 50px"
    />
  </div>
</div>
