<div>
  <div class="header-container">
    <div class="logo-container">
      <img src="../../favicon.ico" alt="" class="title-logo" />
      <h2 class="title-h2"><span class="title">Weather</span>Cast</h2>
    </div>
    <div class="button-container">
      <a href="#" class="button">Live stream</a>
      <a href="/about-page" class="button">About</a>
      <a href="#" class="button">Contact</a>
    </div>
    <a href="#" class="widget-button">Use as widget</a>
  </div>
  <div class="main-component">
    <img
      src="../../assets/images/logo.png"
      alt=""
      style="height: 120px; width: 150px"
    />
    <h2 class="main-h2">We are WeatherCast</h2>
    <h2 class="secondary-h2">Platform for those who</h2>
    <div class="main-description-container">
      <div class="description-container">
        <div class="left-description">
          <p class="small-text-bolder">Love minimalistic design</p>
          <p class="small-text-bolder">Are adventurous</p>
          <p class="small-text-bolder">Value accuracy</p>
          <p class="small-text-bolder">Need reliable information</p>
        </div>
        <div
          style="border: 1px solid white; margin-left: 3%; margin-right: 3%"
        ></div>
        <div class="right-description">
          <p class="small-text-bolder">Want to appreciate nature's beauty</p>
          <p class="small-text-bolder">Enjoy planning ahead</p>
          <p class="small-text-bolder">Like to explore</p>
          <p class="small-text-bolder">
            Want to be safe from bad weather conditions
          </p>
        </div>
      </div>
      <div
        style="
          margin-top: 40px;
          margin-bottom: 40px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        "
      >
        <a href="/search-page" class="search-button">Search a place</a>
        <a href="#" class="map-button">Show weather map</a>
      </div>
    </div>
  </div>
</div>
