.main-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.component-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.component-wrapperd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-container {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.welcome-main {
  font-family: "work-sans";
  font-size: 60px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0;
}

.today-in {
  font-family: "work-sans";
  font-size: 37px;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin: 0;
}

.search-container {
  height: 40px;
  width: 50%;
  margin-left: 15px;
  border-radius: 55px;
  background: rgba(88, 88, 88, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-text {
  color: white;
  font-family: "work-sans";
  font-size: 27px;
  margin: 0;
}

.search-button {
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  opacity: 0.8;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-image {
  height: 20px;
  width: 20px;
}

.entire-day-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  padding: 5px;
}

.day-container {
  width: 100%;
  height: 30px;
  width: 70px;
  border: 0.5px solid white;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-family: "work-sans-light";
  font-size: 20px;
  color: white;
  margin: 0px 5px;
}

.small-text-bolder {
  font-family: "work-sans-light";
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin: 0;
}

.temperature-and-icon-container {
  display: flex;
  flex-direction: row;
}

.wind-rain-hum-container {
  display: flex;
  flex-direction: column;
}

.data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sunset-sunrise-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .sunset-sunrise-container {
    display: none;
  }

  .small-text {
    font-size: 15px;
  }

  .small-text-bolder {
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .img-weather {
    display: none;
  }
}
