<div>
  <div class="header-container">
    <div class="logo-container">
      <img src="../../favicon.ico" alt="" class="title-logo" />
      <h2 class="title-h2"><span class="title">Weather</span>Cast</h2>
    </div>
    <div class="button-container">
      <a href="#" class="button">Live stream</a>
      <a href="#" class="button">About</a>
      <a href="#" class="button">Contact</a>
    </div>
    <a href="#" class="widget-button">Use as widget</a>
  </div>
  <div class="main-component">
    <div class="image-component">
      <div style="display: flex">
        <img
          src="../../assets/images/Frame.png"
          alt="location"
          style="height: 37px; width: 37px; margin-right: 10px"
        />
        <p class="today-in">Today in</p>
      </div>
      <div class="search-container">
        <p style="opacity: 0">a</p>
        <p class="search-text">Sarajevo</p>
        <div class="search-button">
          <img
            src="../../assets/images/search.png"
            alt=""
            class="search-image"
          />
        </div>
      </div>
    </div>
    <div class="weather-container">
      <div class="weather-one">
        <div class="temperature-date-container">
          <div class="image-temperature-container">
            <img
              src="../../assets/images/weather.png"
              alt=""
              class="image-sun"
            />
            <p class="temperature">27°</p>
          </div>
          <p class="date-1">15th Jun '23</p>
          <p class="date-2">Thursday | 2:45 pm</p>
        </div>
        <div class="air-quality-metric-container">
          <div class="weather-two">
            <div class="air-quality-div">
              <p class="air-quality">Air quality</p>
              <img
                src="../../assets/images/air-quality.png"
                alt=""
                style="height: 250px; width: 250px; margin-left: -75px"
              />
              <p
                class="air-quality"
                style="margin-top: -200px; margin-left: 30px"
              >
                2/5
              </p>
              <p class="air-quality">Moderate</p>
            </div>
          </div>
          <div class="change-metric" style="margin-right: 30px">
            <img
              src="../../assets/images/c-f.png"
              alt=""
              style="
                height: 35px;
                width: 80px;
                margin-top: 40px;
                margin-left: 30px;
              "
            />
            <img
              src="../../assets/images/kmh-mph.png"
              alt=""
              style="
                height: 35px;
                width: 80px;
                margin-top: 10px;
                margin-left: 30px;
              "
            />
          </div>
        </div>
      </div>
      <div class="wind-hum-rain-container">
        <img src="../../assets/images/wind.png" alt="" class="small-icon" />
        <p class="small-text" style="font-weight: 600">Wind</p>
        <p class="small-text">10km/h</p>
        <p class="small-text">|</p>
        <img src="../../assets/images/humidity.png" alt="" class="small-icon" />
        <p class="small-text" style="font-weight: 600">Hum</p>
        <p class="small-text">54%</p>
        <p class="small-text">|</p>
        <img src="../../assets/images/rain.png" alt="" class="small-icon" />
        <p class="small-text" style="font-weight: 600">Rain</p>
        <p class="small-text">0.2%</p>
      </div>
    </div>
    <p class="next-five-days-text">Next five days</p>
    <div class="next-five-days-container">
      <div class="day-container-first">
        <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
        <img
          src="../../assets/images/cloudy.png"
          alt=""
          style="height: 26px; width: 51px; margin-top: 5px; margin-bottom: 5px"
        />
        <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
      </div>
      <div class="day-container">
        <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
        <img
          src="../../assets/images/cloudy.png"
          alt=""
          style="height: 26px; width: 51px; margin-top: 5px; margin-bottom: 5px"
        />
        <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
      </div>
      <div class="day-container">
        <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
        <img
          src="../../assets/images/cloudy.png"
          alt=""
          style="height: 26px; width: 51px; margin-top: 5px; margin-bottom: 5px"
        />
        <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
      </div>
      <div class="day-container">
        <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
        <img
          src="../../assets/images/cloudy.png"
          alt=""
          style="height: 26px; width: 51px; margin-top: 5px; margin-bottom: 5px"
        />
        <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
      </div>
      <div class="day-container-last">
        <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
        <img
          src="../../assets/images/cloudy.png"
          alt=""
          style="height: 26px; width: 51px; margin-top: 5px; margin-bottom: 5px"
        />
        <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
      </div>
    </div>
    <p class="next-five-days-text">Follow us</p>
    <div class="social-media-container">
      <img
        src="../../assets/images/facebook.png"
        alt=""
        style="height: 50px; width: 50px; margin-right: 20px"
      />
      <img
        src="../../assets/images/twitter.png"
        alt=""
        style="height: 50px; width: 50px; margin-right: 20px"
      />
      <img
        src="../../assets/images/linkedin.png"
        alt=""
        style="height: 50px; width: 50px; margin-right: 20px"
      />
      <img
        src="../../assets/images/instagram.png"
        alt=""
        style="height: 50px; width: 50px"
      />
    </div>
  </div>
</div>
