<link href="./hamburger.css" rel="stylesheet" />
<div>
  <div class="main-component">
    <div class="component-wrapperd">
      <div class="image-component">
        <div style="display: flex">
          <img
            src="../../assets/images/Frame.png"
            alt="location"
            style="height: 37px; width: 37px; margin-right: 10px"
          />
          <p class="today-in">Today in</p>
        </div>
        <div class="search-container" (click)="togglePopup()">
          <p style="opacity: 0">a</p>
          <p class="search-text">{{ dataForMainScreen.name }}</p>
          <div class="search-button">
            <img
              src="../../assets/images/search.png"
              alt=""
              class="search-image"
            />
          </div>
        </div>
      </div>
      <div class="weather-container">
        <div class="weather-one">
          <div class="temperature-date-container">
            <div class="image-temperature-container">
              <img [src]="myMainImage" alt="ImageSun1" class="image-sun" />
              <p class="temperature">{{ dataForMainScreen.temp }}</p>
            </div>
            <p class="date-1">{{ dataForMainScreen.formattedDay }}</p>
            <p class="date-2">{{ dataForMainScreen.formattedTime }}</p>
          </div>
          <div class="air-quality-metric-container">
            <div class="weather-two" style="position: relative">
              <div class="air-quality-div">
                <p class="air-quality">Air quality</p>
                <div style="position: relative">
                  <img
                    src="../../assets/images/air-quality.png"
                    alt=""
                    style="width: 250px; height: 250px; position: absolute"
                  />
                  <div
                    style="
                      z-index: 10;
                      width: 250px;
                      height: 175px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-direction: column;
                    "
                  >
                    <p class="air-quality">2/5</p>
                    <p class="air-quality">Moderate</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="change-metric" style="margin-right: 30px">
              <img
                src="../../assets/images/c-f.png"
                alt=""
                style="height: 35px; width: 80px; margin-bottom: 10px"
              />
              <img
                src="../../assets/images/kmh-mph.png"
                alt=""
                style="height: 35px; width: 80px; margin-bottom: 10px"
              />
            </div>
          </div>
        </div>
        <div class="wind-hum-rain-container">
          <div class="cond-container-dash">
            <img
              src="../../assets/images/wind.png"
              alt=""
              class="small-icon"
              style="margin-right: 10px"
            />
            <p class="small-text" style="font-weight: 600; margin-right: 10px">
              Wind
            </p>
            <p class="small-text" style="margin-right: 10px">
              {{ dataForMainScreen.windSpeed }} km/h
            </p>
          </div>
          <div class="cond-container-dash">
            <img
              src="../../assets/images/humidity.png"
              alt=""
              class="small-icon"
              style="margin-right: 10px"
            />
            <p class="small-text" style="font-weight: 600; margin-right: 10px">
              Hum
            </p>
            <p class="small-text" style="margin-right: 10px">
              {{ dataForMainScreen.humidity }} %
            </p>
          </div>
          <div class="cond-container">
            <img
              src="../../assets/images/rain.png"
              alt=""
              class="small-icon"
              style="margin-right: 10px"
            />
            <p class="small-text" style="font-weight: 600; margin-right: 10px">
              Rain
            </p>
            <p class="small-text" style="margin-right: 10px">0.2%</p>
          </div>
        </div>
      </div>
      <p class="next-five-days-text">Next five days</p>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          margin: 5px;
        "
      >
        <p class="next-five-days-text">Next five days</p>
        <a
          class="next-five-days-text"
          href="/this-week"
          style="font-family: work-sans-light; margin-left: 5px"
          >(see more here)</a
        >
      </div>
      <p class="next-five-days-text">Next five days</p>
      <div class="next-five-days-container" (click)="goToThisWeek()">
        <div
          *ngFor="let item of forcastArray; let i = index; trackBy: trackByFn"
          class="day-container"
        >
          <p class="small-text-bolder" style="margin-left: 5px">
            {{ item.temperature }}
          </p>
          <img
            [src]="item.resolvedImage"
            alt="LoadingImg..."
            style="
              height: 50px;
              width: 50px;
              margin-top: 5px;
              margin-bottom: 5px;
            "
          />
          <p class="small-text-bolder">
            {{ item.weekday }}
          </p>
        </div>
        <!-- <div class="day-container">
          <p class="small-text-bolder" style="margin-left: 5px">27°C</p>
          <img
            src="../../assets/images/cloudy.png"
            [src]="myMainImage"
            alt=""
            style="
              height: 26px;
              width: 51px;
              margin-top: 5px;
              margin-bottom: 5px;
            "
          />
          <p class="small-text-bolder" style="margin-left: 15px">Fri</p>
        </div> -->
      </div>
      <p class="next-five-days-text">Follow us</p>
      <div class="social-media-container">
        <img
          src="../../assets/images/facebook.png"
          alt=""
          style="height: 50px; width: 50px; margin-right: 20px"
        />
        <img
          src="../../assets/images/twitter.png"
          alt=""
          style="height: 50px; width: 50px; margin-right: 20px"
        />
        <img
          src="../../assets/images/linkedin.png"
          alt=""
          style="height: 50px; width: 50px; margin-right: 20px"
        />
        <img
          src="../../assets/images/instagram.png"
          alt=""
          style="height: 50px; width: 50px"
        />
      </div>
    </div>
  </div>
  <div *ngIf="isOpenPopup">
    <div class="overlay-screen">
      <div class="body-overlay">
        <div class="container">
          <div class="search-bar">
            <input
              type="text"
              [(ngModel)]="searchText"
              (ngModelChange)="onTextChanged($event)"
              placeholder="Search..."
              class="search-input"
            />
            <!-- <button>
              <img src="../../assets/images/search.png" alt="Search" />
            </button> -->
            <button>
              <div class="x-button" (click)="togglePopup()">
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </button>
          </div>

          <div class="holder" *ngIf="shouldShowTemplate">
            <img [src]="pngImg1" alt="Image1" />
            <h2>Sarajevo</h2>
            <div [innerHTML]="temperature1"></div>
            <div [innerHTML]="type1"></div>
          </div>

          <div class="holder" *ngIf="shouldShowTemplate">
            <img [src]="pngImg2" alt="Image2" />
            <h2>London</h2>
            <div [innerHTML]="temperature2"></div>
            <div [innerHTML]="type2"></div>
          </div>
          <div *ngIf="!shouldShowTemplate">
            <div
              *ngFor="
                let item of placesInnerHtml;
                let i = index;
                trackBy: trackByFn
              "
              (click)="onClickItem(i)"
              class="holder"
            >
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
